/* Style for the dropdown */
.agent-checkbox-dropdown {
    display: none; /* Initially hidden */
    position: absolute; /* Change to absolute for dropdown */
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    width: 200px;
    background: white;
    z-index: 100;
}

.dropdown-container {
    position: relative;
}

.dropdown-header {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 8px;
    width: 200px;
}

/* Ensure there is no margin for agent labels */
.single-agent, .multiple-agent {
    display: block; /* Ensure labels take the full width */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}